<th>
  <p><%= Stats::Config.human_attribute_name(:statistical_type) %></p>
</th>
<th>
  <p><%= Stats::Config.human_attribute_name(:begin_on) %></p>
  <p><%= Stats::Config.human_attribute_name(:end_on) %></p>
</th>
<th><%= Stats::Config.human_attribute_name(:today_begin_id) %></th>
<th></th>