.ui.side {
  display: flex;
  flex-wrap: nowrap;
}

.ui.side > .sidebar {
  width: 260px;
  transition: width 1s ease;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.ui.side > .content {
  width: 100%;
  transition: width 1s ease;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.ui.invisible.side > .sidebar {
  width: 80px;
  transition: width 1s ease;
}

.ui.invisible.side > .sidebar .item > span,
.ui.invisible.side > .sidebar .item .title > span {
  display: none;
}

.ui.invisible.side > .content {
  transition: width 1s ease;
}

.slide.down.in {
  transition: width 1s ease;
}