<%= form_with theme: 'search', model: Com::Info.new, url: { action: params[:action] } do |f| %>
  <div class="field-body">
    <%= f.text_field :code %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(except: [:code]), class: 'button is-light' %>
    </div>
  </div>
<% end %>
