<div>
  <dt><%= Org::Member.human_attribute_name(:role_ids) %></dt>
  <dd>
    <% @member.available_roles.each do |role| %>
      <%= form_with theme: nil, url: { action: 'update', who_type: 'Org::Member', who_id: @member.id }, method: 'patch', data: { controller: 'input' }, class: 'is-inline' do |f| %>
        <label>
          <%= f.check_box :role_id, { checked: @member.role_ids.include?(role.id), data: { input_target: 'checkbox', action: 'input#toggle' }, id: nil }, role.id, role.id %>
          <%= role.name %>
        </label>
      <% end %>
    <% end %>
  </dd>
</div>
