<div class="columns">
  <div class="column">
    <div class="section">
      <%= render 'index_column' %>
    </div>
  </div>
  <div class="column">
    <div class="box">
    <% if defined? current_organ %>
      <%= render partial: 'profile' %>
    <% end %>
    </div>
  </div>
</div>
