<td>
  <i class="fa-solid fa-fw fa-bars text-grey is-drawable"></i>
  <i class="fa-solid fa-<%= model.icon %>"></i>
</td>
<td><%= model.path %></td>
<td><%= model.name %></td>
<td><%= model.namespace %></td>