<tr id="tr_<%= model.name %>">
  <%= yield %>
  <td>
    <% if model.paused? %>
      <%= button_to "Resume", { action: 'resume', id: model.name }, class: 'button is-warning' %>
    <% else %>
      <%= button_to "Pause", { action: 'pause', id: model.name }, class: 'button is-success' %>
  <% end %>
  </td>
</tr>
