<div class="dropdown is-hoverable is-right">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Identifier</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu">
    <div class="dropdown-content">
    <% @business_identifiers.each do |identifier| %>
      <%= link_to identifier.business_identifier, filter_params(business_identifier: identifier.business_identifier), class: active_helper(business_identifier: identifier.business_identifier, active: 'dropdown-item is-active', item: 'dropdown-item') %>
    <% end %>
    </div>
  </div>
</div>
