<%= form_with theme: 'search' do |f| %>
  <div class="fields">
    <%= f.text_field :key, placeholder: ActiveStorage::Blob.human_attribute_name(:key) %>
    <%= f.text_field :filename, placeholder: ActiveStorage::Blob.human_attribute_name(:filename) %>
    <%= f.submit %>
  </div>
<% end %>


