<div class="media">
  <div class="media-content">
    <%= yield %>
  </div>
  <div class="media-right">
    <div
      data-controller="scan"
      data-action="click->scan#report"
      class="button is-small is-radius"
      data-report-url="<%= url_for(action: 'scan', app_id: model.id) %>"
    >
      <i class="fa-solid fa-plus"></i>
      <span class="has-text-success pl-1">添加打印机</span>
    </div>
  </div>
</div>
