<div class="media">
  <div class="media-content">
    <%= yield %>
  </div>
  <div class="media-right as-x">
    <% if model.default %>
      <i class="fa-solid fa-check color-success"></i>
    <% end %>
    <%= button_to({ action: 'actions', id: model.id }, state: 'enter', class: 'button is-borderless') do %>
      <i class="fa-solid fa-lg fa-ellipsis-h color-grey"></i>
    <% end %>
  </div>
</div>
