@import 'article';
@import 'cell';
@import 'media';
@import 'panel';

html, body {
  height: 100%;
}

.weui-tabbar__icon .weui-badge {
  position: absolute;
  top: -.4em;
  right: -.4em;
}

.weui-label {
  color: #666;
}
