@charset "utf-8";

$body-size: 14px;
$table-head-cell-border-width: 0 0 1px;

@import '~bulma/sass/utilities/_all';

$table-head-background-color: $white-ter;

@import '~bulma/sass/base/_all';
@import '~bulma/sass/elements/_all';
@import '~bulma/sass/form/_all';
@import '~bulma/sass/components/_all';
@import '~bulma/sass/grid/_all';
@import '~bulma/sass/layout/_all';

@import 'base/_all';
@import 'components/_all';
@import 'elements/_all';
@import 'form/_all';
@import 'grid/_all';
