@charset "utf-8";

$body-size: 14px;
$table-head-cell-border-width: 0 0 1px;

@import '~bulma/sass/utilities/all';

$table-head-background-color: $white-ter;

@import '~bulma/sass/base/all';
@import '~bulma/sass/elements/all';
@import '~bulma/sass/form/all';
@import '~bulma/sass/components/all';
@import '~bulma/sass/grid/all';
@import '~bulma/sass/helpers/_all';
@import '~bulma/sass/layout/all';

@import 'base/all';
@import 'components/all';
@import 'elements/all';
@import 'form/all';
@import 'grid/all';
@import 'helpers/all';
@import 'layout/all';
@import 'expand/all';
