<tr>
  <td class="has-text-right"><%= JiaBo::Template.human_attribute_name(:title) %></td>
  <td><%= @template.title %></td>
</tr>
<tr>
  <td class="has-text-right"><%= JiaBo::Template.human_attribute_name(:code) %></td>
  <td><%= @template.code %></td>
</tr>
