<aside class="menu" style="height: 100%">
  <div class="menu">
    <div class="menu-list">
      <%= link_to t('board.home.index.title'), { controller: '/board/home' }, class: active_helper(controllers: 'home', active: 'is-active') %>
    </div>
  </div>
  <%= render 'notice_nav' %>
  <%= render 'auth_nav' %>
</aside>
