<aside class="menu background-light p-4" style="height: 100%">
  <div class="menu">
    <div class="menu-list">
      <%= link_to t('board.home.index.title'), { controller: '/board/home' }, class: active_helper(controllers: 'home', active: 'is-active') %>
    </div>
  </div>
  <%= render 'notice_nav' if defined? RailsNotice %>
  <%= render 'auth_nav' if defined? RailsAuth %>
  <%= render 'org_nav' if defined? RailsOrg %>
</aside>
