@import 'choices.js/src/styles/choices';

.#{$choices-selector}__inner {
  min-height: 2.5em;
  height: 2.5em;
}

.#{$choices-selector}__list--dropdown {
  .#{$choices-selector}__item {
    height: 2.5em;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
