<li><%= link_to t('.index.title'), { action: 'index', **request.query_parameters.except(:id, :page, :per) } %></li>
<li><span class="px-3"><%= @meta_model.record_name %></span></li>
<li class="is-active"><%= t('.title') %></li>
