<table class="table is-border">
  <thead>
    <tr>
      <th colspan="2" class="has-text-centered">
        <p><%= col.name %></p>
        <p><%= col.klass.name %></p>
      </th>
    </tr>
  </thead>
  <tbody>
  <% Array(col.foreign_key).each do |key| %>
    <tr>
      <td><%= key %></td>
    </tr>
  <% end %>
  </tbody>
</table>
