<td><%= model.id %></td>
<td>
  <p><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>
  <p class="has-text-grey"><%= exact_distance_time(model.created_at) %></p>
</td>
<td><%= simple_format(model.state) %></td>
