<div
  id="filter_popup_box"
  data-controller="filter-input"
  data-popup-target="popup"
  class="panel is-light as-popdown background-white overflow-y-hidden"
>
  <div class="field">
    <%= yield %>
  </div>
</div>