<div
  id="filter_popup_box"
  data-controller="filter-input"
  data-popup-target="popup"
  class="panel is-light as-popdown background-white overflow-y-hidden"
>
  <div class="checkboxes">
  <% @meta_column.belongs_model.default_where(default_params).each do |member| %>
    <label class="checkbox">
      <%= check_box_tag @meta_column.column_name, member.id, member.id.to_s == params[:value] %>
      <span><%= member.name %></span>
    </label>
  <% end %>
  </div>
</div>