<div
  id="filter_popup_box"
  data-controller="filter-input"
  data-popup-target="popup"
  class="panel is-light as-popdown background-white overflow-y-hidden"
>
  <div class="field-body">
    <div class="field">
      <%= datetime_field_tag "#{@meta_column.column_name}-gte", params.dig('value', 'gte'), placeholder: "请输入#{@meta_column.i18n_name}", data: { action: 'filter-input#confirm' }, class: 'input', form: 'filter_search_form' %>
    </div>
    <div class="field">
      <%= datetime_field_tag "#{@meta_column.column_name}-lte", params.dig('value', 'lte'), placeholder: "请输入#{@meta_column.i18n_name}", data: { action: 'filter-input#confirm' }, class: 'input', form: 'filter_search_form' %>
    </div>
    <div>
      <%= submit_tag '确认', data: { action: 'filter-input#submit' }, class: 'button is-small', form: 'filter_search_form' %>
    </div>
  </div>
</div>