<%= form_with theme: 'inline', url: { action: 'update' }, method: :patch, data: { controller: 'single-form' }, id: 'bottom-field', class: 'form-bottom invisible field is-horizontal display-flex' do |f| %>
  <div class="field-body">
    <div class="field is-narrow">
      <input type="text" data-single-form-target="input" class="input">
    </div>
    <div class="field is-narrow">
      <%= f.submit %>
    </div>
  </div>
<% end %>