<%= form_with url: { action: 'update' }, method: :patch, data: { controller: 'single-form' }, id: 'bottom-field', class: 'form-bottom invisible' do |f| %>
  <div class="field">
    <input type="text" data-single-form-target="input" class="input">
  </div>
  <%= f.submit %>
<% end %>