<%= form_with url: { action: 'update' }, method: :patch, data: { controller: 'single-form' }, class: 'form-bottom invisible' do |f| %>
  <div id="bottom-field" class="field"></div>
  <%= f.submit %>
<% end %>