<div class="ui small image" data-controller="attachment">
  <a data-confirm="Are you sure?" class="ui grey right corner mini label" data-remote="true" rel="nofollow" data-method="delete" href="attachment.url">
    <i class="times icon"></i>
  </a>
  <img id="attachment.img_id" src="attachment.filename">
</div>