<div class="ui small image">
  <%= link_to rails_attachment_path(image.id), method: :delete, data: {confirm: 'Are you sure?'}, remote: true, class: 'ui grey right corner mini label' do %>
    <i class="times icon"></i>
  <% end %>
  <%= image_tag image, id: "attachment_#{image.id}" %>
</div>

<div class="ui small image" data-controller="attachment">
  <a data-confirm="Are you sure?" class="ui grey right corner mini label" data-remote="true" rel="nofollow" data-method="delete" href="attachment.url">
    <i class="times icon"></i>
  </a>
  <img id="attachment.img_id" src="attachment.filename">
</div>