<div class="buttons are-small mb-2">
  <%= button_to({ action: 'sync' }, method: :post, data: { disable_with: 'Syncing' }, class: 'button is-success') do %>
    <i class="fa-solid fa-sync-alt"></i>
    <span class="pl-1"><%= t('.sync') %></span>
  <% end %>
  <%= link_to({ action: 'new' }, data: { turbo_frame: 'modal' }, class: 'button is-link') do %>
    <i class="fa-solid fa-plus"></i>
    <span class="pl-1"><%= t('.new.title') %></span>
  <% end %>
</div>
