<div class="columns" style="height: 100vh">
  <div class="column has-v-centered">
    <%= render 'current_model' %>
  </div>
  <div class="column">
    <%= render partial: 'has_many', collection: @meta_model.record_class.reflections_with_collection, as: :col %>
  </div>
</div>
