<div id="tr_<%= model.id %>" class="card is-middle">
  <div class="card-content">
    <p class="has-column-centered">
      <%= link_to({ action: 'show', id: model.id }) do %>
        <strong class="text-primary"><%= model.host %></strong>
      <% end %>
    </p>
  </div>
</div>
