.menu.ex-accordion {
  display: flex;
  flex-direction: column;
  padding: 0;
  .menu-label {
    order: 1;
    font-size: 1em;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em 1.5em;
    .dropdown {
      float: right;
      line-height: 1.5;
    }
    .dropdown:before {
      content: '\f0d9';
    }
  }
  .menu-list {
    order: 2;
    display: none;
    padding-top: .5em;
    padding-left: 1.5em;
    a {
      font-size: .9em;
    }
    a.is-active,
    a:hover {
      background-color: initial;
      font-weight: bold;
    }
    &:empty + .menu-label {
      display: none;
    }
  }
  &.is-active {
    .menu-label {
      border-bottom: none;
      padding-bottom: 0;
      .dropdown:before {
        content: '\f0d7';
      }
    }
    .menu-list {
      display: block;
      border-bottom: solid 1px rgba(34, 36, 38, .1);
    }
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      background-color: $color;
      .menu-label {
        border-bottom: solid 1px $color;
        color: $color-invert;
      }
    }
  }
}

.menu {
  padding: 1em 1.5em;
}
