.menu.ex-accordion {
  padding: 1em 1.5em;
  .menu-label {
    font-size: 1em;
    display: flex;
    margin-bottom: 0;

    .dropdown {
      float: right;
    }
    .dropdown:before {
      content: '\f0d9';
    }
  }
  .menu-list {
    display: none;
    a {
      font-size: .9em;
    }
  }
}

.menu.ex-accordion.is-active {
  .menu-label {
    .dropdown:before {
      content: '\f0d7';
    }
  }

  .menu-list {
    display: block;
  }
}


