<div
  id="filter_popup_box"
  data-popup-target="popup"
  class="panel is-light as-popdown background-white overflow-y-hidden"
>
  <%= text_field_tag @meta_column.column_name, nil, placeholder: "请输入#{@meta_column.i18n_name}", autocomplete: 'off', class: 'input' %>
</div>