<%= button_to({ action: 'sync' }, method: :post, data: { turbo_confirm: t('.confirm') }, class: 'button is-link') do %>
  <i class="fa-solid fa-plus"></i>
  <span class="pl-1"><%= t('.sync') %></span>
<% end %>
