<td><%= model.column_name %></td>
<td><%= model.column_type %></td>
<td><%= model.sql_type %></td>
<td><%= model.column_limit %></td>
<td>
<% if model.defined_db %>
  <i class="fas fa-check has-text-success"></i>
<% else %>
  <i class="fas fa-times has-text-danger"></i>
<% end %>
</td>
<td>
<% if model.defined_model %>
  <i class="fas fa-check has-text-success"></i>
<% else %>
  <i class="fas fa-times has-text-danger"></i>
<% end %>
</td>
