<div
  data-controller="scan"
  data-action="click->scan#report"
  class="weui-actionsheet__cell"
  data-report-url="<%= url_for(action: 'scan', app_id: params[:id]) %>"
>
  <span class="has-text-success">添加打印机</span>
</div>
