<li><%= link_to t('.pg_publications.index.title'), { controller: 'pg_publications' } %></li>
<li><span class="px-3"><%= @pg_publication.pubname %></span></li>
<li class="is-active"><%= t('.title') %></li>
