<div class="media">
  <figure class="media-left">
    <%= image_tag meta[0].logo, class: 'image is-64x64' if meta[0].logo.present? %>
  </figure>
  <div class="media-content">
    <div class="content">
      <strong><%= meta[0].name %></strong>
    </div>
    <% meta[1].each do |meta_action| %>
      <%= link_to meta_action.name, { controller: meta_action.controller_path, action: meta_action.action_name, **params.except(:business, :namespace, :controller, :action, :disposable_token).permit! }, class: 'tag' %>
    <% end %>
  </div>
</div>
