<div class="weui-panel is-box is-borderless">
  <div class="weui-panel__hd">
    <span>其他</span>
  </div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells">
        <div
          data-controller="mini-program"
          data-mini-program-url-value="/pages/print/index"
          data-mini-program-data-value="<%= { url: url_for(only_path: false) }.to_json %>"
          data-action="click->mini-program#link"
          class="media"
        >
          <div class="media-content">
            <span><%= '设置打印机' %></span>
          </div>
          <div class="media-right">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>
        <%= link_to({ controller: 'auth/my/home' }, class: 'media') do %>
          <div class="media-content">
            <i class="fa-solid fa-fw fa-xl fa-ellipsis"></i>
            <span class="text-dark"><%= t('auth.my.home.index.title') %></span>
          </div>
          <div class="media-right">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
