<table class="as-search">
  <tr>
    <th><%= link_to Govern.human_attribute_name(:govern_taxon_id), panel_govern_taxons_path %></th>
    <td>
      <%= link_to t('.unclassified'), filter_params(except: [:govern_taxon_id]), class: active_helper(govern_taxon_id: '', active: 'button is-info', item: 'button is-light') %>
    </td>
  </tr>
</table>
