<% @meta_namespaces.each do |meta_namespace| %>
<tr id="<%= meta_namespace.tr_id(params[:business_identifier]) %>" data-controller="tree-remote" data-tree-remote-target="item">
  <td>
    <span style="width: 1.43em; display: inline-block"></span>
    <%= button_to({ action: 'meta_controllers', business_identifier: @meta_business.identifier, namespace_identifier: meta_namespace.identifier }, data: { turbo_frame: 'visit' }) do %>
      <i class="fa-solid fa-fw fa-caret-right" style="cursor: pointer" data-action="click->tree-remote#expand"></i>
    <% end %>
    <span><%= meta_namespace.name %></span>
  </td>
  <td></td>
</tr>
<% end %>
