<%= render 'index_bar' %>
<%= render 'index_actions' %>

<div
  data-controller="animate-scroll"
  class="table-container"
  style="height: 400px; overflow-y: scroll"
>
  <%= render layout: 'index_table' do %>
    <%= render partial: 'index_meta_business', collection: @meta_businesses, as: :meta_business %>
  <% end %>
</div>
