<th><%= Com::ReplicationSlot.human_attribute_name(:Schemaname) %></th>
<th>
  <p><%= Com::ReplicationSlot.human_attribute_name(:Tablename) %></p>
  <p><%= Com::ReplicationSlot.human_attribute_name(:action_name) %></p>
</th>
<th><%= Com::ReplicationSlot.human_attribute_name(:Attnames) %></th>

