<div class="tags has-addons">
  <%= link_to({ controller: 'org/admin/organs' }, class: 'tag is-link') do %>
    <span><%= t('org.admin.organs.index.title') %></span>
  <% end %>
  <%= button_to(
        { controller: 'org/admin/shortcuts', action: 'create' },
        params: { 'shortcut[controller]': 'org/admin/organs' },
        aria: { label: t('org.admin.shortcuts.create.title') },
        form: { class: 'tag is-primary' }
      ) do %>
    <i class="fa-solid fa-star"></i>
  <% end %>
</div>