<% if role_permit?(business: model.identifier, namespace: 'admin') %>
<div class="media">
  <figure class="media-left">
    <%= image_tag "#{model.business}_logo.png", class: 'image is-64x64' %>
  </figure>
  <div class="media-content">
    <div class="content">
      <strong><%= t("#{model.business}.admin.title") %></strong>
    </div>
    <div class="field is-grouped is-grouped-multiline">
      <%= render partial: 'admin_tag_link', collection: Com::MetaAction.admin_list(business), as: :model %>
    </div>
  </div>
</div>
<% end %>