<div class="menu-list">
  <%= link_to({ controller: '/home' }) do %>
    <%= image_tag 'logo.png', class: 'image is-64x64 as-centered' %>
  <% end %>
  <%= link_to t('admin.home.index.title'), { controller: '/admin/home' }, class: 'has-text-centered' %>
</div>
