<div data-controller="empty" class="box is-padding-less mx-3">
  <div class="box-body">
    <span>其他</span>
  </div>
  <div class="columns is-4-mobile flex is-vcentered is-centered m-0 is-shadow" data-empty-target="content">
    <% if request.variant.any?(:mini_program) %>
      <div
        data-controller="mini-program"
        data-mini-program-url-value="/pages/print/config/index"
        data-mini-program-data-value="<%= { url: url_for(only_path: false) }.to_json %>"
        data-action="click->mini-program#link"
        class="column has-column-centered"
      >
        <div class="has-text-dark">
          <span><%= '设置打印机' %></span>
        </div>
      </div>
    <% end %>
    <%= link_to({ controller: 'jia_bo/admin/device_organs' }, class: 'column has-column-centered') do %>
      <div class="has-text-primary">
        <i class="fa-solid fa-fw fa-xl fa-print"></i>
      </div>
      <span class="has-text-grey size-7 mt-1"><%= t('jia_bo.admin.device_organs.index.title') %></span>
    <% end %>
  </div>
</div>
