<div class="ui site basic horizontal segments">
  <div class="ui segment">
    <%= render 'shared/alert' %>
  </div>
  <div class="ui compact segment">
    <%= render 'right_menu' %>
  </div>
</div>


