<div data-controller="empty" class="box is-padding-less mx-3">
  <div class="box-body">
    <span class="size-7 has-border-left-primary">其他</span>
  </div>
  <div class="columns is-4-mobile flex is-vcentered is-centered m-0 is-shadow" data-empty-target="content">
    <% if request.variant.any?(:mini_program) %>
      <div
        data-controller="mini-program"
        data-mini-program-nav-value="true"
        data-mini-program-url-value="/pages/print/index"
        data-mini-program-data-value="<%= { url: 'https://test.work.design/qingflow/apps/4/items/337214498/print_bytes' }.to_json %>"
        data-action="click->mini-program#link"
        class="column has-column-centered"
      >
        <div class="text-dark">
          <span><%= '设置打印机' %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
