<%= link_to({ controller: 'crm/me/contacts' }, class: active_helper(controllers: 'crm/me/contacts', active: 'is-active')) do %>
  <i class="fa-solid fa-house size-5"></i>
  <div class="size-7"><%= t('crm.me.contacts.index.title') %></div>
<% end %>
<%= link_to({ controller: '/me/home' }, class: active_helper(controllers: 'me/home', active: 'is-active')) do %>
  <i class="fa-solid fa-user size-5"></i>
  <div class="size-7"><%= t('me.home.index.title') %></div>
<% end %>
