<div class="box as-bar">
  <% if current_state %>
    <%= link_to(current_state.referer, class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end %>
  <% elsif tab_item_items.exclude?(request.path) %>
    <%= link_to({ controller: 'me/home' }, class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end %>
  <% else %>
    <i class="px-5"></i>
  <% end %>
  <div class="weui-title"><%= t('.title') %></div>
  <i class="px-5"></i>
</div>
