<%= turbo_stream.update 'alert' do %>
  <div data-controller="notice" class="notification is-danger is-radiusless">
    <button class="delete" data-action="notice#close"></button>
    <p>你没有权限操作，请联系管理员！</p>
  </div>
<% end %>
