<li><%= link_to t('.queues.index.title'), { controller: 'job/panel/queues', action: 'index' } %></li>
<li><span class="px-3"><%= @queue.name %></span></li>
<li><%= link_to t('.jobs.index.title'), { controller: 'jobs' } %></li>
<li class="is-active"><%= t('.title') %></li>