<aside class="menu">
  <% @xs.each do |sibling| %>
    <%= link_to filter_params(govern_taxon_id: sibling.id), class: active_helper(govern_taxon_id: sibling.id, active: 'menu-label is-active', item: 'menu-label') do %>
      <span><%= sibling.name %></span>
    <% end %>
    <ul class="menu-list" class="<%= (sibling.child_ids + [sibling.id]).include?(params[:govern_taxon_id]) ? 'is-active' : nil %>">
    <% sibling.children.each do |child| %>
      <li><%= link_to child.name, filter_params(govern_taxon_id: child.id), class: active_helper(govern_taxon_id: child.id, active: 'is-active') %></li>
    <% end %>
    </ul>
  <% end %>
</aside>
