<div>
  <dt><%= JiaBo::DeviceOrgan.human_attribute_name(:organ_id) %></dt>
  <dd><%= @device_organ.organ_id %></dd>
</div>
<div>
  <dt><%= JiaBo::DeviceOrgan.human_attribute_name(:default) %></dt>
  <dd><%= @device_organ.default %></dd>
</div>
