<tr>
  <td><%= JiaBo::DeviceOrgan.human_attribute_name(:organ_id) %></td>
  <td><%= @device_organ.organ_id %></td>
</tr>
<tr>
  <td><%= JiaBo::DeviceOrgan.human_attribute_name(:default) %></td>
  <td><%= @device_organ.default %></td>
</tr>
