<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
    <% cache do %>
      <%= render 'overview_thead' %>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% @role.role_hash.each do |business_identifier, namespaces| %>
    <tr>
      <td rowspan="<%= @role.governs.where(govern_taxon_id: taxon.id).count + 1 %>"><%= taxon.desc %></td>
    </tr>
    <% @role.governs.includes(:rules).where(govern_taxon_id: taxon.id).each do |govern| %>
      <%= render partial: 'overview_govern', locals: { govern: govern } %>
    <% end %>
  <% end %>
  </tbody>
</table>
