<table data-controller="check" class="table is-hoverable is-fullwidth as-boxed">
  <thead>
    <tr>
      <th>
        <%= link_to 'Govern (Code)', { controller: 'roles' } %>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'show_business', collection: @meta_businesses, as: :meta_business %>
  </tbody>
</table>
