<th><%= ActionMailbox::InboundEmail.human_attribute_name(:status) %></th>
<th>
  <p><%= ActionMailbox::InboundEmail.human_attribute_name(:to) %></p>
  <p><%= ActionMailbox::InboundEmail.human_attribute_name(:from) %></p>
</th>
<th><%= ActionMailbox::InboundEmail.human_attribute_name(:subject) %></th>
