<td><%= model.status_i18n %></td>
<td>
  <p><%= simple_format model.mail.to %></p>
  <p class="has-text-grey"><%= simple_format model.mail.from %></p>
</td>
<td>
  <p><%= link_to model.mail.subject, { action: 'show', id: model.id } %></p>
</td>
