<div class="ui segment breadcrumb">
  <%= link_to 'Back', blobs_path, class: 'section' %>
  <i class="fas fa-angle-right divider"></i>
  <div class="active section">Show</div>
</div>

<table class="ui very basic large table">
  <tbody>
  </tbody>
</table>
