<div class="weui-panel" data-controller="empty">
  <div class="weui-panel__hd">
    <div class="is-several">
      <%= image_tag meta[0].logo, class: 'image is-32x32' if meta[0].logo.present? %>
      <span><%= meta[0].name %></span>
    </div>
  </div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells" data-empty-target="content">
      <% meta[1].each do |meta_action| %>
        <%= link_to({ controller: meta_action.controller_path, action: meta_action.action_name, **params.except(:business, :namespace, :controller, :action).permit! }, class: 'media') do %>
          <div class="media-content">
            <span><%= meta_action.name %></span>
          </div>
          <div class="media-right">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
