<div data-controller="mini-program" data-mini-program-pt-class="pt-0" class="box as-bar">
  <%= link_to({ controller: '/me/home', **current_organ.parent.url_options(request) }, class: 'px-4') do %>
    <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
  <% end %>
  <span class="weui-title"><%= t('.title') %></span>
  <i class="px-5"></i>
</div>
