<% flash.each do |type, msg| %>
<div class="notification is-radiusless is-danger" data-controller="notice">
  <button class="delete" data-action="notice#close"></button>
  <%= msg %>
</div>
<div class="ui bottom attached warning progress" data-percent="0">
  <div class="bar"></div>
</div>
<% end %>
