<% flash.each do |type, msg| %>
  <%= msg %>
<% end %>
<div class="toast-box compact transition animating scale out" style="display: table !important; animation-duration: 5000ms;">
  <div class="icon info ui toast" style="opacity: 1;">
    <div class="content">
    
    </div>
  </div>
  
</div>
<div class="ui bottom attached active progress" data-percent="100">
  <div class="bar"></div>
</div>
