<% if target.errors.any? %>
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header"><%= target.errors.count %> <% if target.errors.count == 1 %> error <% else %> errors <% end %>: </div>
    <ul class="list">
      <% target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>