<div class="ui simple dropdown item">
  <i class="fas fa-globe"></i>
  <%= I18n.locale %>
  <div class="menu">
    <%= link_to 'EN', { locale: 'en' }, class: 'item' %>
    <%= link_to 'CN', { locale: 'zh' }, class: 'item' %>
  </div>
</div>
