<div class="ui simple dropdown item">
  <i class="fas fa-globe"></i>
  <span><%= t(I18n.locale) %></span>
  <div class="menu">
    <% User.options_i18n(:locale).each do |text, value| %>
      <%= link_to text, { locale: value }, class: 'item' %>
    <% end %>
  </div>
</div>
