<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('com.panel.acme_accounts.index.title'), panel_acme_accounts_path %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
