<td><%= simple_format model.identifiers %></td>
<td><%= model.url %></td>
<td>
  <% if model.private_pem_blob %>
    <p><%= link_to model.private_pem_blob.filename, model.private_pem_blob.service_url %></p>
  <% end %>
  <% if model.cert_key_blob %>
    <p><%= link_to model.cert_key_blob.filename, model.cert_key_blob.service_url %></p>
  <% end %>
</td>
<td>
</td>
