<div class="field is-horizontal" data-controller="field" data-field-index-value="<%= ef.index %>">
  <% if ef.index == 0 %>
    <%= ef.label :acme_identifiers %>
  <% else %>
    <label class="field-label"></label>
  <% end %>
  <div class="field-body">
    <%= ef.text_field :identifier, label: nil, placeholder: Com::AcmeIdentifier.human_attribute_name(:identifier) %>
    <span class="field has-addons has-addons-middle">
      <i class="fa-regular fa-plus-circle fa-lg" data-action="click->field#add" style="cursor: pointer"></i>
      <i class="fa-regular fa-minus-circle fa-lg" data-action="click->field#remove" style="cursor: pointer"></i>
    </span>
  </div>
</div>
