.field {
  &.is-horizontal {
    @include tablet;
    align-items: center;
  }
  &.has-addons {
    align-items: center;
    a {
      margin-right: .75rem;
    }
  }
}

.checkbox + .checkbox {
  margin-left: .5em;
}
