<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('com.panel.acme_accounts.index.title'), { controller: 'acme_accounts' } %></li>
    <li><%= link_to t('com.panel.acme_orders.index.title'), { controller: 'acme_orders', acme_account_id: @acme_order.acme_account_id } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
