<div class="tabs">
  <ul>
    <li class="<%= active_helper(action: 'index', active: 'is-active') %>"><%= link_to t('.all'), panel_attachments_path %></li>
    <li class="<%= active_helper(action: 'garbled', active: 'is-active') %>"><%= link_to 'Garbled', garbled_panel_attachments_path %></li>
  </ul>
</div>
