.weui-half-screen-dialog {
  background-color: var(--weui-BG-3);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.weui-half-screen-dialog__bd .weui-form {
  background-color: unset;
  padding-top: 0;
}
