<li><%= link_to t('.statistic_configs.index.title'), { controller: 'statistic_configs' } %></li>
<li><%= link_to t('.statistics.index.title'), { controller: 'statistics' } %></li>
<li class="is-active"><%= t('.title') %></li>
