<th>
  <p><%= GoodJob::ActiveJobJob.human_attribute_name(:active_job_id) %></p>
  <p><%= GoodJob::ActiveJobJob.human_attribute_name(:finished_at) %></p>
  <p><%= GoodJob::ActiveJobJob.human_attribute_name(:finished_at) %></p>
  <p><%= GoodJob::ActiveJobJob.human_attribute_name(:scheduled_at) %></p>
</th>
<th>Arguments</th>
