<th>
  <p><%= GoodJob::ActiveJobJob.human_attribute_name(:active_job_id) %></p>
  <p><%= GoodJob::ActiveJobJob.human_attribute_name(:job_class) %></p>
  <p><%= GoodJob::ActiveJobJob.human_attribute_name(:queue_name) %></p>
  <p class="has-text-info"><%= GoodJob::ActiveJobJob.human_attribute_name(:scheduled_at) %></p>
</th>
<th>Arguments</th>
