<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('jia_bo.panel.apps.index.title'), { controller: 'apps' } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
