<tr>
  <td class="has-text-right"><%= JiaBo::App.human_attribute_name(:member_code) %></td>
  <td><%= @app.member_code %></td>
</tr>
<tr>
  <td class="has-text-right"><%= JiaBo::App.human_attribute_name(:api_key) %></td>
  <td><%= @app.api_key %></td>
</tr>
