<div>
  <dt><%= JiaBo::App.human_attribute_name(:member_code) %></dt>
  <dd><%= @app.member_code %></dd>
</div>
<div>
  <dt><%= JiaBo::App.human_attribute_name(:api_key) %></dt>
  <dd><%= @app.api_key %></dd>
</div>
