<div>
  <dt><%= SolidQueue::Job.human_attribute_name(:arguments) %></dt>
  <dd><pre class="text-left"><%= @job.arguments.to_format_yaml %></pre></dd>
</div>
<% if @job.failed_execution %>
<div>
  <dt><%= SolidQueue::Job.human_attribute_name(:arguments) %></dt>
  <dd><pre class="text-left"><%= @job.failed_execution.error['backtrace'].join("\n") %></pre></dd>
</div>
<% end %>