<tr>
  <td class="right aligned"><%= SolidQueue::Job.human_attribute_name(:id) %></td>
  <td><%= @job.id %></td>
</tr>
<tr>
  <td class="right aligned"><%= SolidQueue::Job.human_attribute_name(:arguments) %></td>
  <td><%= simple_format @job.arguments %></td>
</tr>
