<tr>
  <td class="right aligned"><%= GoodJob::Execution.human_attribute_name(:id) %></td>
  <td><%= @execution.id %></td>
</tr>
<tr>
  <td class="right aligned"><%= GoodJob::Execution.human_attribute_name(:active_job_id) %></td>
  <td><%= @execution.active_job_id %></td>
</tr>
