<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('roled.panel.roles.index.title'), { action: 'index' } %></li>
    <li class="is-active"><%= @role.name %></li>
  </ul>
</div>
