dl {
  display: table-row;
}

dd {
  display: table-cell;
}

dd .button {
  margin-bottom: 8px;
}

dt {
  display: table-cell;
  padding: .5em;
  text-align: right;
}

dt:after {
  content: ':';
  color: #888;
}
