dl {
  display: table-row;
  margin-bottom: .5em;
}

dt {
  padding-right: .75em;
  text-align: right;
}

dt:after {
  content: ':';
  color: #888;
}

dd,
dt {
  display: table-cell;
  vertical-align: middle;
}

dd .button {
}
