<% taxon.parameters.each do |k, v| %>
  <div class="field is-horizontal">
    <label class="field-label is-normal"><%= k.to_s %></label>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= text_field_tag "#{f.object_name}[parameters][#{k}]", f.object.parameters[k.to_s], type: RailsCom.config.mapping[v.to_sym][:input], class: 'input' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
