<li><%= link_to t('.meta_controllers.index.title'), { controller: 'meta_controllers' } %></li>
<li><span class="px-3"><%= @meta_controller.controller_path %></span></li>
<li class="is-active"><%= t('.title') %></li>
