<tr>
  <td class="has-text-right"><%= Roled::Busyness.human_attribute_name(:name) %></td>
  <td><%= @busyness.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Roled::Busyness.human_attribute_name(:identifier) %></td>
  <td><%= @busyness.identifier %></td>
</tr>
