<tr>
  <td><%= Com::MetaBusiness.human_attribute_name(:name) %></td>
  <td><%= @meta_business.name %></td>
</tr>
<tr>
  <td><%= Com::MetaBusiness.human_attribute_name(:identifier) %></td>
  <td><%= @meta_business.identifier %></td>
</tr>
