@mixin arrow-down() {
  width: 0;
  height: 0;
  border: $balloon-arrow-size solid transparent;
  border-top-color: var(--balloon-color);
}

@mixin arrow-up() {
  width: 0;
  height: 0;
  border: $balloon-arrow-size solid transparent;
  border-bottom-color: var(--balloon-color);
}

@mixin arrow-left() {
  width: 0;
  height: 0;
  border: $balloon-arrow-size solid transparent;
  border-right-color: var(--balloon-color);
}

@mixin arrow-right() {
  width: 0;
  height: 0;
  border: $balloon-arrow-size solid transparent;
  border-left-color: var(--balloon-color);
}

@mixin base-effects() {
  opacity: 0;
  pointer-events: none;
  transition: all 0.18s ease-out 0.18s;
}

@mixin no-effects() {
  transition: none;
}

@mixin normalized-text() {
  text-indent: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
  font-size: var(--balloon-font-size);
}
