@import './variables';
@import './mixins';

:root {
  --balloon-color: #{$balloon-bg};
  --balloon-font-size: #{$balloon-base-size};
  --balloon-move: #{$balloon-move};
}

// IE 11 button bugfix
button[aria-label] {
  &[data-tip_pos] {
    overflow: visible;
  }
}

[aria-label] {
  position: relative; // alt. absolute or fixed

  // Fixing iOS Safari event issue.
  // More info at: https://goo.gl/w8JF4W
  cursor: pointer;

  &:after {
    @include base-effects();
    @include normalized-text();

    background: var(--balloon-color);
    border-radius: 2px;
    color: #fff;
    content: attr(aria-label);
    padding: .5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
  }

  &:before {
    @include arrow-down();
    @include base-effects();

    content: "";
    position: absolute;
    z-index: 10;
  }

  &:hover, &[data-tip_visible], &:not([data-tip_nofocus]):focus {
    &:before,
    &:after {
      opacity: 1;
      pointer-events: none;
    }
  }

  &.font-awesome:after {
    font-family: FontAwesome, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  &[data-tip_break] {
    &:after {
      white-space: pre;
    }

    &[data-tip_length] {
      &:after {
        white-space: pre-line;
        word-break: break-word;
      }
    }
  }

  &[data-tip_blunt] {
    &:before,
    &:after {
      @include no-effects();
    }
  }

  &:after {
    bottom: 100%;
    left: 50%;
    margin-bottom: $balloon-arrow-size + 5px;;
    transform: translate(-50%, var(--balloon-move));
    transform-origin: top;
  }
  &:before {
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, var(--balloon-move));
    transform-origin: top;
  }

  &:hover, &[data-tip_visible] {
    &:after {
      transform: translate(-50%, 0);
    }

    &:before {
      transform: translate(-50%, 0);
    }
  }

  &[data-tip_pos="up-left"] {
    &:after {
      bottom: 100%;
      left: 0;
      margin-bottom: $balloon-arrow-size + 5px;;
      transform: translate(0, var(--balloon-move));
      transform-origin: top;
    }
    &:before {
      bottom: 100%;
      left: 5px;
      transform: translate(0, var(--balloon-move));
      transform-origin: top;
    }

    &:hover, &[data-tip_visible] {
      &:after {
        transform: translate(0, 0);
      }

      &:before {
        transform: translate(0, 0);
      }
    }
  }

  &[data-tip_pos="up-right"] {
    &:after {
      bottom: 100%;
      right: 0;
      margin-bottom: $balloon-arrow-size + 5px;;
      transform: translate(0, var(--balloon-move));
      transform-origin: top;
    }
    &:before {
      bottom: 100%;
      right: 5px;
      transform: translate(0, var(--balloon-move));
      transform-origin: top;
    }

    &:hover, &[data-tip_visible] {
      &:after {
        transform: translate(0, 0);
      }

      &:before {
        transform: translate(0, 0);
      }
    }
  }

  &[data-tip_pos="down"] {
    &:after {
      left: 50%;
      margin-top: $balloon-arrow-size + 5px;;
      top: 100%;
      transform: translate(-50%, calc(var(--balloon-move) * -1));
    }

    &:before {
      @include arrow-up();

      left: 50%;
      top: 100%;
      transform: translate(-50%, calc(var(--balloon-move) * -1));
    }

    &:hover, &[data-tip_visible] {
      &:after {
        transform: translate(-50%, 0);
      }

      &:before {
        transform: translate(-50%, 0);
      }
    }
  }

  &[data-tip_pos="down-left"] {
    &:after {
      left: 0;
      margin-top: $balloon-arrow-size + 5px;;
      top: 100%;
      transform: translate(0, calc(var(--balloon-move) * -1));
    }

    &:before {
      @include arrow-up();

      left: 5px;
      top: 100%;
      transform: translate(0, calc(var(--balloon-move) * -1));
    }

    &:hover, &[data-tip_visible] {
      &:after {
        transform: translate(0, 0);
      }

      &:before {
        transform: translate(0, 0);
      }
    }
  }

  &[data-tip_pos="down-right"] {
    &:after {
      right: 0;
      margin-top: $balloon-arrow-size + 5px;;
      top: 100%;
      transform: translate(0, calc(var(--balloon-move) * -1));
    }

    &:before {
      @include arrow-up();

      right: 5px;
      top: 100%;
      transform: translate(0, calc(var(--balloon-move) * -1));
    }

    &:hover, &[data-tip_visible] {
      &:after {
        transform: translate(0, 0);
      }

      &:before {
        transform: translate(0, 0);
      }
    }
  }

  &[data-tip_pos="left"] {
    &:after {
      margin-right: $balloon-arrow-size + 5px;;
      right: 100%;
      top: 50%;
      transform: translate(var(--balloon-move), -50%);
    }

    &:before {
      @include arrow-right();

      right: 100%;
      top: 50%;
      transform: translate(var(--balloon-move), -50%);
    }

    &:hover, &[data-tip_visible] {
      &:after {
        transform: translate(0, -50%);
      }

      &:before {
        transform: translate(0, -50%);
      }
    }

  }

  &[data-tip_pos="right"] {
    &:after {

      left: 100%;
      margin-left: $balloon-arrow-size + 5px;;
      top: 50%;
      transform: translate(calc(var(--balloon-move) * -1), -50%);
    }

    &:before {
      @include arrow-left();

      left: 100%;
      top: 50%;
      transform: translate(calc(var(--balloon-move) * -1), -50%);
    }

    &:hover, &[data-tip_visible] {
      &:after {
        transform: translate(0, -50%);
      }

      &:before {
        transform: translate(0, -50%);
      }
    }
  }

  &[data-tip_length="small"] {
    &:after {
      white-space: normal;
      width: 80px;
    }
  }

  &[data-tip_length="medium"] {
    &:after {
      white-space: normal;
      width: 150px;
    }
  }

  &[data-tip_length="large"] {
    &:after {
      white-space: normal;
      width: 260px;
    }
  }

  &[data-tip_length="xlarge"] {
    &:after {
      white-space: normal;
      width: 380px;

      @media screen and (max-width: 768px) {
        white-space: normal;
        width: 90vw;
      }
    }
  }

  &[data-tip_length="fit"] {
    &:after {
      white-space: normal;
      width: 100%;
    }
  }

}
