<% if params[:class_name] %>
  <%= button_to({ action: 'retry_all', **params.permit(:class_name) }, class: 'button is-danger', form: { data: { turbo_confirm: t('.retry_all.confirm') } }) do %>
    <span><%= t('.retry_all.title') %></span>
  <% end %>
<% end %>