<th>
  <p><%= GoodJob::Job.human_attribute_name(:active_job_id) %></p>
  <p><%= GoodJob::Job.human_attribute_name(:job_class) %></p>
  <p><%= GoodJob::Job.human_attribute_name(:queue_name) %></p>
  <p class="color-grey"><%= GoodJob::Job.human_attribute_name(:created_at) %></p>
</th>
<th>Arguments</th>
