<div class="fixed-grid has-6-cols">
  <div class="grid">
    <%= link_to({ controller: 'device_organs' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.device_organs.index.title') %></span>
    <% end %>
  </div>
</div>

