<div>
  <dt><%= Com::CacheList.human_attribute_name(:path) %></dt>
  <dd><%= @cache_list.path %></dd>
</div>
<div>
  <dt><%= Com::CacheList.human_attribute_name(:etag) %></dt>
  <dd><%= @cache_list.etag %></dd>
</div>
