.weui-media-box {
  padding-right: 0;
}

.weui-media-box__bd {
  padding-right: 16px;
}

.weui-media-box__ft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: max-content;
  align-self: stretch;
  margin-top: -16px;
  margin-bottom: -16px;
}

.weui-media-box__ft .weui-btn {
  border-radius: 0;
  width: 100%;
}
.weui-media-box__ft .weui-btn + .weui-btn {
  margin-top: 0;
}
