<div class="field is-horizontal" data-controller="field" data-field-index-value="<%= ef.index %>">
  <% if ef.index == 0 %>
    <%= ef.label :err_notices %>
  <% else %>
    <label class="field-label"></label>
  <% end %>
  <div class="field-body">
    <%= ef.text_field :controller_name, label: nil, placeholder: Com::ErrNotice.human_attribute_name(:controller_name) %>
    <span class="field has-addons has-addons-middle">
      <i class="fa-solid fa-lg fa-plus-circle" data-action="click->field#add" style="cursor: pointer"></i>
      <i class="fa-solid fa-lg fa-minus-circle ml-2" data-action="click->field#remove" style="cursor: pointer"></i>
    </span>
  </div>
</div>
