<% f_object = form_object(target.record) %>
<div class="file has-name is-boxed">
  <label class="file-label">
    <%= f_object.file_field target.name, can: { wrap_input: false, label: false, wrap_all: false }, data: { action: 'picture#upload' }, direct_upload: true, class: 'file-input' %>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
    </span>
    <span class="file-name">
      Screen Shot 2017-07-29 at 15.54.25.png
    </span>
  </label>
</div>

<div class="ui image" id="file_template" style="display: none;">
  <a href="javascript:void(0);" onclick="this.parentNode.remove()" class="ui grey right corner mini label">
    <i class="fas fa-trash-alt"></i>
  </a>
  <%= image_tag 'image-square.png', data: { target: 'picture.src' }, style: 'max-width: 100%' %>
</div>
