<% f_object = form_object(target.record) %>
<div class="field is-narrow file has-name is-boxed">
  <label class="file-label">
    <%= f_object.file_field target.name, can: { wrap_input: false, label: false, wrap_all: false }, data: { action: 'picture#upload' }, direct_upload: true, class: 'file-input' %>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
    </span>
    <span class="file-name" data-target="picture.filename">
    
    </span>
  </label>
</div>

<div class="field is-narrow card" style="display: none;" data-target="picture.preview">
  <header class="card-header">
    <div class="card-header-title"></div>
    <a class="card-header-icon">
      <span class="icon"><i class="fas fa-trash"></i></span>
    </a>
  </header>
  <div class="card-image">
    <%= image_pack_tag 'default_avatar.jpg', data: { target: 'picture.src' }, class: 'image is-96x96' %>
  </div>
</div>
