<div class="field is-narrow file has-name is-boxed" data-target="picture.uploadDiv" style="display: <%= target.attached? ? 'none' : 'block' %>">
  <label class="file-label">
    <%= f.file_field target.name, disabled: target.attached?, direct_upload: true, wrap: { input: false, all: false }, label: false, data: { action: 'picture#upload' }, class: 'file-input' %>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
    </span>
    <span class="file-name" data-target="picture.filename"></span>
  </label>
</div>
