<% f_object = form_object(target.record) %>
<div class="field is-narrow file has-name is-boxed" style="display: <%= target.attached? ? 'none' : 'block' %>">
  <label class="file-label">
    <%= f_object.file_field target.name, can: { wrap_input: false, label: false, wrap_all: false }, data: { action: 'picture#upload' }, direct_upload: true, class: 'file-input' %>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
    </span>
    <span class="file-name" data-target="picture.filename">
    
    </span>
  </label>
</div>
