<div data-picture-target="uploadDiv" class="field is-narrow file is-boxed">
  <label class="file-label">
    <%=
      f.file_field(
        target.name,
        multiple: target.is_a?(ActiveStorage::Attached::Many),
        direct_upload: true,
        wrap: { input: false, all: false },
        label: false,
        data: { action: 'picture#upload' },
        class: 'file-input',
        **local_assigns.slice(:form)
      )
    %>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fa-solid fa-upload text-grey-dark"></i>
      </span>
      <span>选择文件</span>
    </span>
  </label>
</div>
<div class="field is-narrow" data-picture-target="preview" style="display: none">
  <div class="image">
    <button class="button is-unset as-corner" data-action="picture#removePreview">
      <i class="fa-solid fa-trash text-danger"></i>
    </button>
    <%= image_tag 'avatar.png', data: { picture_target: 'src' }, class: 'image is-96x96' %>
  </div>
</div>
