<div class="field is-horizontal" id="<%= "#{target.record.class.name.underscore}_attachments_#{target.record.id}" %>">
  <div class="field-label"></div>
  <div class="field-body control" data-controller="picture">
    <%= render partial: 'com/attachments/list_edit', locals: { target: target } %>
  </div>
</div>
