<div class="field is-horizontal">
  <%= f.label target.name %>
  <div class="field-body control" data-controller="picture">
    <%= render partial: 'com/attachments/list_edit', locals: { target: target, f: f } %>
  </div>
</div>
