<div class="field is-horizontal">
  <div class="field-label">
    <label class="label"><%= target.record.class.human_attribute_name(target.name) %></label>
  </div>
  <div class="field-body control" data-controller="picture">
    <%= render partial: 'com/attachments/list_edit', locals: { target: target } %>
  </div>
</div>
