<div class="field is-horizontal">
  <%= f.label target.name %>
  <div data-controller="picture" class="field-body control">
    <%= render partial: 'com/attachments/list_edit', locals: { target: target, f: f } %>
  </div>
</div>
