<tr>
  <td><%= ActionMailbox::InboundEmail.human_attribute_name(:docx) %></td>
  <td>
    <% @inbound_email.docx.each do |doc| %>
      <div class="content">
        <%= doc.to_html.html_safe %>
      </div>
    <% end %>
  </td>
</tr>
<tr>
  <td><%= ActionMailbox::InboundEmail.human_attribute_name(:docx) %></td>
  <td><%= @inbound_email.body.to_s %></td>
</tr>
