<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>
        <%= link_to t('.edit'), edit_panel_inbound_email_path(@inbound_email), class: 'button is-small is-link', remote: true %>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="has-text-right"><%= ActionMailbox::InboundEmail.human_attribute_name(:docx) %></td>
      <td>
        <% @inbound_email.docx.each do |doc| %>
          <div class="content">
            <%= doc.to_html %>
          </div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
