<div class="columns">
  <div class="column">
  <% Com::MetaBusiness.all.each do |model| %>
    <%= render partial: 'admin_tags', locals: { business: model.identifier } if role_permit?(business: model.identifier, namespace: 'admin') %>
  <% end %>
  </div>
  <div class="column">
    <div class="box">
      <%= render partial: 'profile' %>
    </div>
  </div>
</div>
