<div class="columns">
  <div class="column">
    <%= render partial: 'admin_tags', collection: Com::MetaBusiness.all, as: :model %>
  </div>
  <div class="column">
    <div class="box">
      <%= render partial: 'profile' %>
    </div>
  </div>
</div>
