<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('com.panel.meta_controllers.index.title'), { controller: 'meta_controllers' } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
