<div class="ui popup" id="show_roles_<%= @rule.id %>">
  <div class="content">
    <p class="ui labels">
      <% @rule.roles.each do |role| %>
        <label class="ui blue label"><%= role.name %></label>
      <% end %>
    </p>
  </div>
</div>