<td><%= model.name %></td>
<td><%= link_to model.record_name, { controller: 'meta_columns', meta_model_id: model.id, **request.query_parameters.except(:id, :page, :per) } %></td>
<td><%= model.description %></td>
