<td><%= model.name %></td>
<td><%= link_to model.record_name, { controller: 'meta_columns', meta_model_id: model.id, **request.GET.except(:id, :page, :per, :record_name) } %></td>
<td><%= model.description %></td>
