<li><%= link_to t('com.panel.err_summaries.index.title'), { controller: 'err_summaries' } %></li>
<li><%= link_to t('com.panel.errs.index.title'), { action: 'index' } %></li>
<li class="is-active"><%= t('.title') %></li>
