<div>
  <dt><%= WhoRole.human_attribute_name(:who_id) %></dt>
  <dd><%= @who_role.who_id %></dd>
</div>
<div>
  <dt><%= WhoRole.human_attribute_name(:created_at) %></dt>
  <dd><%= @who_role.created_at %></dd>
</div>
