<div class="media">
  <div class="media-left">
    <%= f.label "#{outer}_id", class: 'weui-label' %>
  </div>
  <div class="media-content flex">
    <% if node&.ancestors.present? %>
      <% node.ancestors.reverse_each do |node| %>
        <%= render partial: 'com/nodes/outer_options', locals: { f: f, node: node, depth: node.depth, outer: outer } %>
      <% end %>
    <% else %>
      <%= render partial: 'com/nodes/outer_options', locals: { f: f, node: node, depth: 0, outer: outer } %>
    <% end %>
  </div>
</div>
