<% f_method = "#{outer}_ancestors(#{depth}i)" %>
<div class="field is-narrow control" id="<%= "#{f_method}_input" %>" data-title="outer_ancestors_input">
  <%=
    f.collection_select(
        f_method,
        node.self_and_siblings,
        :id,
        :name,
        { selected: node.id, include_blank: true, label: false, wrap: { all: nil, select: 'select is-fullwidth' } },
        { data: { node_type: node.class.base_class.name, index: f.index, scope: f.object_name, method: f_method, outer: outer, controller: 'outer', action: 'outer#choose' } }
    )
  %>
</div>
