<% f_method = "parent_ancestors(#{node.depth}i)" %>
<div class="field is-narrow control" id="<%= "#{f_method}_input" %>" data-title="parent_ancestors_input">
  <%=
    f.collection_select(
        f_method,
        node.self_and_siblings,
        :id,
        :name,
        { selected: node.id, include_blank: true, label: nil, wrap: { all: nil, select: 'select is-fullwidth' } },
        { data: { type: node.class.base_class.name, index: f.index, method: f_method, controller: 'taxon', action: 'taxon#choose' } }
    )
  %>
</div>
