<div class="tabs">
  <ul>
    <li class="<%= active_helper(controller: 'meta_businesses', active: 'is-active') %>">
      <%= link_to t('com.panel.meta_businesses.index.title'), { controller: 'meta_businesses' } %>
    </li>
    <li class="<%= active_helper(controller: 'meta_namespaces', active: 'is-active') %>">
      <%= link_to t('com.panel.meta_namespaces.index.title'), { controller: 'meta_namespaces' } %>
    </li>
  </ul>
</div>
