<%= button_to({ action: 'sync' }, method: :post, data: { disable_with: 'Syncing' }, class: 'button is-success') do %>
  <i class="fa-light fa-sync-alt"></i>
  <span class="pl-1"><%= t('.sync') %></span>
<% end %>
