<div class="ui small image">
  <a href="javascript:void(0);" onclick="this.parentNode.remove()" class="ui grey right corner mini label">
    <i class="times icon"></i>
  </a>
  <%= image_tag 'image-square.png', data: { target: 'picture.src' }, style: 'max-width: 100%' %>
</div>
