<div class="ui image attached">
  <div class="ui placeholder">
    <div class="image" style="text-align: center;line-height: 100px;">
      <i class="fas fa-plus"></i>
    </div>
  </div>
</div>

<div class="ui image" id="file_template" style="display: none;">
  <a href="javascript:void(0);" onclick="this.parentNode.remove()" class="ui grey right corner mini label">
    <i class="times icon"></i>
  </a>
  <%= image_tag 'image-square.png', data: { target: 'picture.src' }, style: 'max-width: 100%' %>
</div>
