<div class="tabs">
  <ul>
    <li class="<%= active_helper(action: 'index', active: 'is-active') %>">
      <%= link_to t('.index.title'), { action: 'index' } %>
    </li>
    <li class="<%= active_helper(action: 'garbled', active: 'is-active') %>">
      <%= link_to t('.garbled.title'), { action: 'garbled' } %>
    </li>
  </ul>
</div>
