.table {
  border: 1px solid $border;
  &.is-borderless {
    border: none;
  }
}

.table th,
.table td {
  vertical-align: middle;
}

.table tbody + tbody {
  tr:first-child td,
  tr:last-child th {
    border-top-width: 1px;
  }
}

table.as-search {
  th {
    text-align: right;
    white-space: nowrap;
  }
  th:after {
    content: ':';
    color: #888;
  }
  td {
    width: 100%;
  }
  td, th {
    padding: 0 .5em .75em 0;
    vertical-align: middle;
  }

}
