<li><%= link_to t('com.panel.meta_models.index.title'), { controller: 'meta_models' } %></li>
<li><span class="px-3"><%= @meta_model.record_name %></span></li>
<li class="is-active"><%= t('.title') %></li>
