<td><%= model.column_name %></td>
<td>
  <p><%= model.column_type %></p>
  <p class="has-text-grey"><%= model.sql_type %></p>
</td>
<td><%= model.column_limit %></td>
<td>
<% if model.defined_db %>
  <i class="fa-regular fa-check has-text-success"></i>
<% else %>
  <i class="fa-regular fa-times has-text-danger"></i>
<% end %>
</td>
<td>
<% if model.defined_model %>
  <i class="fa-regular fa-check has-text-success"></i>
<% else %>
  <i class="fa-regular fa-times has-text-danger"></i>
<% end %>
</td>
