<%= search_form_with model: ActiveStorage::Attachment.new do |f| %>
  <div class="fields">
    <%= f.text_field :record_type %>
    <%= f.text_field :record_id %>
    <%= f.submit %>
  </div>
<% end %>


