class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]

  def change
    create_table :<%= table_name %> do |t|
<% todo_attributes.each do |attribute| -%>
      t.<%= attribute[:type] %> :<%= attribute[:name] %><%= attribute[:inject_options] %>
<% end -%>
      t.timestamps
    end
  end

end
