class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]

  def change
<% tables.each do |table_name, attributes| -%>
  <%- attributes[:remove_attributes].each do |attribute, options| -%>
    rename_table :<%= table_name %>, :<%= attribute %>
  <%- end -%>
<%- end -%>
  end

end
