class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]

  def change
<% tables.each do |new_name, old_name| -%>
    rename_table :<%= old_name %>, :<%= new_name %>
<%- end -%>
  end

end
