<% attributes.each do |attribute| -%>
  <tr>
    <td class="has-text-right"><%%= <%= class_name %>.human_attribute_name(:<%= attribute.name %>) %></td>
    <td><%%= @<%= singular_name %>.<%= attribute.name %> %></td>
  </tr>
<% end -%>
