<div class="ui segment breadcrumb">
  <%%= link_to 'Back', <%= index_helper %>_path, class: 'section' %>
  <i class="fas fa-angle-right divider"></i>
  <div class="active section">Edit</div>
</div>

<div class="ui segment">
  <%%= render 'form' %>
</div>
