<%= form_with url: { action: 'batch_destroy' }, method: :delete, class: 'button_to' do |f| %>
  <%= f.hidden_field :ids, data: { form_target: 'ids' } %>
  <%= button_tag data: { form_target: 'submit' }, disabled: true, class: 'button is-danger' do %>
    <i class="fa-solid fa-trash-can"></i>
    <span class="ml-1"><%= t('.batch_destroy.title') %></span>
  <% end %>
<% end %>
