<div class="fixed-grid has-6-cols">
  <div class="grid">
    <%= link_to({ controller: 'jobs' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.jobs.index.title') %></span>
    <% end %>
  </div>
</div>