<div class="fixed-grid has-6-cols">
  <div class="grid">
    <%= link_to({ controller: 'job/panel/queues' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.queues.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'processes' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.processes.index.title') %></span>
    <% end %>
  </div>
</div>