<%= button_to({ action: 'destroy', id: model.id }, method: :delete, class: 'has-text-danger', form: { data: { turbo_confirm: t('.confirm') }, class: 'weui-actionsheet__cell weui-actionsheet__cell_warn' }) do %>
  <i class="fa-light fa-trash"></i>
  <span><%= t('.destroy') %></span>
<% end %>
<%= link_to({ action: 'edit', id: model.id }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-light fa-pencil"></i>
  <span><%= t('.edit') %></span>
<% end %>
