<div data-controller="weui-actionsheet" id="actionsheet">
  <div data-weui-actionsheet-target="mask" data-action="click->weui-actionsheet#close" class="weui-mask" style="opacity: 0; display: none"></div>
  <div class="weui-actionsheet" data-weui-actionsheet-target="sheet">
    <div class="weui-actionsheet__menu">
      <div class="weui-actionsheet__cell">
        <%= link_to({ action: 'edit' }) do %>
          <i class="fas fa-pencil-alt"></i><span><%= t('.edit') %></span>
        <% end %>
      </div>
      <div class="weui-actionsheet__cell weui-actionsheet__cell_warn">
        <%= button_to({ action: 'destroy' }, method: :delete, data: { confirm: t('.confirm') }, class: 'has-text-danger') do %>
          <i class="fas fa-trash-alt"></i><span><%= t('.destroy') %></span>
        <% end %>
      </div>
    </div>
    <div class="weui-actionsheet__action">
      <div class="weui-actionsheet__cell" data-action="click->weui-actionsheet#close">取消</div>
    </div>
  </div>
</div>
