<div id="alert" class="px-3">
<% flash.each do |type, msg| %>
  <div data-controller="notice" data-turbo-cache="false" class="notification is-radiusless is-danger">
    <button class="delete" data-action="notice#close"></button>
    <div class="pt-3"><%= msg %></div>
  </div>
<% end %>
</div>