<% flash.each do |type, msg| %>
<div data-controller="notice" data-turbo-cache="false">
  <div class="notification is-radiusless is-danger mb-0">
    <button class="delete" data-action="notice#close"></button>
    <div><%= msg %></div>
  </div>
  <progress class="progress is-small is-danger is-radiusless"></progress>
</div>
<% end %>
