<div class="buttons are-small mb-0 pt-2">
  <%= link_to({ action: 'new' }, { remote: true, class: 'button is-link' }) do %>
    <i class="fas fa-plus"></i><span><%= t('.new') %></span>
  <% end %>
</div>
