<nav class="level mb-2 box is-narrow">
  <div class="level-left">
    <%= render 'button_actions' %>
  </div>
  <div class="level-right">
    <%= render 'filter_dropdown' %>
    <%= render 'filter_per' %>
  </div>
</nav>
