<%= link_to({ action: 'new', **request.query_parameters.except(:id) }, data: { turbo_frame: 'modal', turbo_scroll: true }, class: 'button is-link') do %>
  <i class="fa-light fa-plus"></i>
  <span class="pl-1"><%= t('.new') %></span>
<% end %>
