<div data-controller="weui-dialog">
  <div data-weui-dialog-target="mask" data-action="click->weui-dialog#close"></div>
  <div class="weui-half-screen-dialog weui-half-screen-dialog_large" data-weui-dialog-target="dialog" data-action="turbo:before-stream-render@document->weui-dialog#loaded" id="dialog">
  </div>
</div>
