<div data-controller="weui-dialog" data-weui-dialog-observable-value="true" data-weui-dialog-clear-value="tue">
  <div data-weui-dialog-target="mask" data-action="click->weui-dialog#close"></div>
  <div class="weui-half-screen-dialog weui-half-screen-dialog_large" data-weui-dialog-target="dialog" id="dialog">
  </div>
</div>
