<table class="table is-striped is-boxed is-fullwidth">
  <thead>
    <tr>
      <th>ID</th>
      <%= render 'index_thead' %>
      <%= render 'index_thead_actions' %>
    </tr>
  </thead>
  <tbody id="tbody">
    <%= yield %>
  </tbody>
</table>
