<%= form_with theme: 'modal', model: model, scope: model_name, url: { action: 'update' } do |f| %>
  <section class="modal-card-body">
    <%= render 'error_messages', target: f.object if f.object.errors.present? %>
    <%= render partial: 'form', locals: { f: f } %>
    <%= f.submit %>
  </section>
<% end %>
