<%= form_with theme: 'search', model: model_klass.new, url: { action: params[:action] }, data: { switch_target: 'src' }, class: 'field display-none' do |f| %>
  <div class="field-body">
    <%= f.text_field :name, autocomplete: 'off' %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(except: [:name]), class: 'button is-light' %>
    </div>
  </div>
<% end %>
