<div data-controller="search-input" class="field display-flex">
  <%= form_with theme: nil, method: :get, id: 'filter_search_form', class: 'weui-search-bar__form' do |f| %>
    <div class="control has-icons-right">
      <%= f.search_field 'name-like', value: params['name-like'], class: 'input', placeholder: '搜索', autocomplete: 'off', data: { search_input_target: 'input', action: 'change->search-input#cancel' } %>
      <span class="icon is-small is-right">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
    </div>
  <% end %>
  <button class="button ml-2">
    <span class="icon">
      <i class="fa-solid fa-filter"></i>
    </span>
  </button>
</div>
