<%=
  button_to(
    { controller: 'com/admin/filters', action: 'column_single' },
    params: { record_name: record_class.name, column_name: key, value: value, scope: scope }
  ) do %>
  <span class="tag is-primary as-attached-left"><%= record_class.enum_i18n(key, value) %></span>
<% end %>
<%= hidden_field_tag scope.present? ? "#{scope}[#{key}]" : key, value, id: nil, form: form %>
