<div id="filter_container" data-controller="popup">
  <%= button_to({ action: 'filter' }, class: 'button') do %>
    <span class="icon">
      <i class="fa-solid fa-plus"></i>
    </span>
  <% end %>
</div>
