<div class="dropdown is-right is-hoverable">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>25 Per Page</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu">
    <div class="dropdown-content">
    <% [25, 50, 100].each do |number| %>
      <%= link_to "#{number} Per Page", filter_params(per: number), class: active_helper(per: number, active: 'dropdown-item is-active', item: 'dropdown-item') %>
    <% end %>
    </div>
  </div>
</div>
