<footer class="footer">
  <div class="container">
    <div class="divided row"></div>
    <div class="content has-text-centered">
      <div>©<%= Date.today.year %> <%= t('site_name') %> All Rights Reserved.</div>
    </div>
  </div>
</footer>
