<nav data-controller="switch" class="level box is-narrow background-primary-light as-attached-top">
  <div class="level-left">
    <div data-switch-target="src" class="buttons are-small mb-0">
      <%= render 'button_actions' %>
      <%= render 'button' %>
    </div>
  </div>
  <div class="level-right">
    <%= render 'filter_per' %>
  </div>
</nav>
