<div class="box">
  <div class="box-header"><%= t('.title') %></div>
  <div class="weui-panel__bd">
    <%= yield %>
  </div>
  <div class="weui-panel__ft">
    <%= render 'button' %>
  </div>
</div>
