<table class="table is-striped is-fullwidth as-boxed">
  <thead>
    <tr>
      <%= render 'index_thead' %>
      <th style="min-width: 18em">操作</th>
    </tr>
  </thead>
  <tbody id="tbody">
    <%= yield %>
  </tbody>
</table>
