<div class="weui-panel">
  <div class="weui-panel__hd"><%= t('.title') %></div>
  <div class="weui-panel__bd">
    <div class="weui-cells mt-0">
      <%= yield %>
    </div>
  </div>
  <div class="weui-panel__ft">
    <%= render 'button' %>
  </div>
</div>
