<div class="weui-media-box weui-media-box_appmsg">
  <div class="weui-media-box__bd">
    <%= yield %>
  </div>
  <div class="weui-media-box__ft">
    <%= button_to({ action: 'actions', id: model.id }, class: 'button is-borderless') do %>
      <i class="fa-solid fa-lg fa-ellipsis-h"></i>
    <% end %>
  </div>
</div>
