<th style="min-width: 18em">
  <div class="button is-small is-rounded is-light">
    <span class="has-text-weight-normal pr-1"><%= t('.show') %></span>
    <i class="fa-solid fa-circle-info"></i>
  </div>
  <div class="button is-small is-rounded is-light">
    <span class="has-text-weight-normal pr-1"><%= t('.edit') %></span>
    <i class="fa-solid fa-pencil"></i>
  </div>
  <div class="button is-small is-rounded is-light">
    <span class="has-text-weight-normal pr-1"><%= t('.destroy') %></span>
    <i class="fa-solid fa-trash"></i>
  </div>
</th>
