<nav class="level mb-2 is-narrow">
  <div class="level-left">
    <h2 class="title is-3"><%= t('.title') %></h2>
    <% if instance_variable_defined? "@#{pluralize_model_name}" %>
      <p class="text-grey"><span>共<%= instance_variable_get("@#{pluralize_model_name}").count %>条记录</span></p>
    <% end %>
  </div>
  <div class="level-right">
    <%= render 'button_actions' %>
    <%= render 'button' %>
  </div>
</nav>
