<nav data-controller="switch" class="level mb-2 box is-narrow">
  <div class="level-left">
    <%= render 'button' %>
  </div>
  <div class="level-right">
    <%= render 'filter_per' %>
  </div>
</nav>
