<tfoot>
  <tr>
    <td colspan="999" class="has-text-right">
      <span class="has-text-grey">图标说明：</span>
      <span class="size-7">
        <i class="fa-solid fa-circle-info has-text-info"></i>
        <span class="has-text-weight-normal pl-1"><%= t('.show.title') %></span>
      </span>
      <span class="size-7 pl-4">
        <i class="fa-solid fa-pencil has-text-link"></i>
        <span class="has-text-weight-normal pl-1"><%= t('.edit.title') %></span>
      </span>
      <span class="size-7 pl-4">
        <i class="fa-solid fa-trash has-text-danger"></i>
        <span class="has-text-weight-normal pl-1"><%= t('.destroy.title') %></span>
      </span>
    </td>
  </tr>
</tfoot>
