<div id="tr_<%= model.id %>" class="media">
  <%= yield %>
  <div class="media-right">
    <%= button_to({ action: 'actions', id: model.id }, class: 'button is-borderless') do %>
      <i class="fa-solid fa-lg fa-ellipsis-h text-grey"></i>
    <% end %>
  </div>
</div>
