<%= link_to({ action: 'show', id: model.id }, class: 'weui-cell weui-cell_active weui-cell_access') do %>
  <span class="weui-cell__bd"><%= yield %></span>
  <span class="weui-cell__ft"></span>
<% end %>
