<div class="navbar-item has-dropdown is-hoverable is-hidden-touch">
  <div class="navbar-link is-arrowless">
    <i class="fa-regular fa-globe"></i>
    <span class="pl-1"><%= t(I18n.locale) %></span>
  </div>
  <div class="navbar-dropdown">
    <% Auth::User.options_i18n(:locale).each do |text, value| %>
      <%= link_to text, { locale: value }, class: 'navbar-item' %>
    <% end if defined? RailsAuth %>
  </div>
</div>
