<div class="navbar-item has-dropdown is-hoverable">
  <div class="navbar-link is-arrowless">
    <i class="fas fa-globe"></i>
    <span><%= t(I18n.locale) %></span>
  </div>
  <div class="navbar-dropdown">
    <% Auth::User.options_i18n(:locale).each do |text, value| %>
      <%= link_to text, { locale: value }, class: 'navbar-item' %>
    <% end if defined? RailsAuth %>
  </div>
</div>
