<% if defined?(RailsWechat) && current_wechat_app %>
  <%= link_to({ controller: '/wechat/wechat', action: 'login' }, data: { controller: 'session-channel' }, class: 'navbar-item') do %>
    <i class="fa-solid fa-user"></i>
    <span class="ml-1"><%= t('wechat.wechat.login.title') %></span>
  <% end %>
<% else %>
  <%= link_to({ controller: '/auth/sign', action: 'sign' }, class: 'navbar-item') do %>
    <i class="fa-solid fa-user"></i>
    <span class="ml-1"><%= t('auth.sign.sign.title') %></span>
  <% end %>
<% end %>
