<div class="modal is-active" data-controller="modal">
  <div class="modal-background" data-action="click->modal#close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"><%= t('.title') %></p>
      <button class="delete" data-action="modal#close"></button>
    </header>
    <section class="modal-card-body">
      <%= yield %>
    </section>
  </div>
</div>
