<div id="modal" data-controller="modal" class="modal is-active">
  <div data-action="click->modal#close" class="modal-background has-animate-color"></div>
  <div class="modal-content">
    <%= yield %>
  </div>
  <button data-action="modal#close" class="modal-close is-large"></button>
</div>
