<div id="modal" data-controller="modal" class="modal is-mobile is-active">
  <div data-action="click->modal#close" class="modal-background has-animate-fade-in"></div>
  <div class="modal-card has-animate-slide-up">
    <header class="modal-card-head">
      <p class="modal-card-title"><%= t('.title') %></p>
    </header>
    <div class="modal-card-body">
      <%= yield %>
    </div>
    <footer class="modal-card-foot">
      <div class="button is-fullwidth has-text-grey" data-action="click->modal#close">取消</div>
    </footer>
  </div>
</div>
