<div id="modal_wrapper" class="modal" data-controller="modal">
  <div class="has-background-white has-animate-color" data-modal-target="background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" id="modal_title"><%= t('.title') %></p>
      <button class="delete" data-action="modal#close"></button>
    </header>
    <div class="modal-card-body" id="modal">
      <%= yield %>
    </div>
  </div>
</div>
