<div data-controller="modal" class="modal">
  <div data-action="click->modal#hide" class="modal-background has-animate-color"></div>
  <div class="modal-content">
    <img data-showcase-target="preview" src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="" class="image">
  </div>
  <button data-action="modal#hide" class="modal-close is-large"></button>
</div>
