<div data-controller="modal" class="modal as-preview">
  <div data-action="click->modal#hide" class="modal-background has-animate-color"></div>
  <div data-preview-target="window" class="images has-block-centered py-4">
    <% images.each_with_index do |image, index| %>
      <figure class="image is-32x32" data-index="<%= index %>" data-action="click->preview#current">
        <%= image_tag image %>
      </figure>
    <% end %>
  </div>
  <div class="modal-content">
    <img
      data-preview-target="preview"
      src="https://bulma.io/assets/images/placeholders/1280x960.png"
      alt=""
      class="image"
    >
  </div>
  <button data-action="modal#hide" class="modal-close is-large"></button>
  <button data-action="preview#prev" class="modal-prev button is-large">
    <i class="fa-solid fa-chevron-left"></i>
  </button>
  <button data-action="preview#next" class="modal-next button is-large">
    <i class="fa-solid fa-chevron-right"></i>
  </button>
</div>
