<nav class="navbar is-dark" data-controller="navbar">
  <div class="navbar-brand">
    <%= render 'nav_brand' %>
    <a class="navbar-burger" data-action="navbar#toggle">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div data-navbar-target="menu" class="navbar-menu">
    <div class="navbar-start">
      <% if defined?(current_user) && current_user %>
        <%= render 'nav_with_login' %>
      <% else %>
        <%= render 'nav_without_login' %>
      <% end %>
    </div>
    <div class="navbar-end">
      <%= render 'right_menu' %>
    </div>
  </div>
</nav>
