<%= form_with theme: 'weui', model: model, scope: model_name, url: { action: 'create' }, state: 'redirect' do |f| %>
  <div class="weui-form__control-area">
    <div class="weui-cells__group weui-cells__group_form">
      <div class="weui-cells__title"><%= t('.title') %></div>
      <div class="weui-cells">
        <%= render partial: 'form', locals: { f: f } %>
      </div>
    </div>
  </div>
  <%= f.submit %>
<% end %>
