<%= form_with theme: 'weui', model: model, scope: model_name, url: { action: 'create' }, state: 'redirect' do |f| %>
  <div class="form-fields">
    <%= render partial: 'form', locals: { f: f } %>
  </div>
  <%= f.submit %>
<% end %>
