<%= form_with theme: 'phone_modal', model: model, scope: model_name, url: { action: 'create' } do |f| %>
  <%= render 'modal_header' %>
  <div class="modal-card-body">
    <%= render partial: 'form', locals: { f: f } %>
  </div>
  <%= f.submit %>
<% end %>
