<%= form_with theme: 'phone_modal', model: model, scope: model_name, url: { action: 'create' }, state: 'redirect' do |f| %>
  <header class="modal-card-head">
    <p class="modal-card-title"><%= t('.title') %></p>
    <button type="button" data-action="modal#close" class="delete"></button>
  </header>
  <div class="modal-card-body">
    <%= render partial: 'form', locals: { f: f } %>
  </div>
  <footer class="modal-card-foot">
    <%= f.submit %>
  </footer>
<% end %>
