<div class="fixed-grid has-2-cols flex-grow-1">
  <div class="grid is-fullheight align-items-center">
    <div class="cell text-right">
      <i class="fa-solid fa-circle-info text-grey-light"></i>
      <span class="text-grey-light pl-1"><%= t('powered_by') %></span>
    </div>
    <div class="cell text-grey-light">
      <p><%= t('copyright') %></p>
    </div>
  </div>
</div>
