<div class="columns is-vcentered is-flex is-flex-grow-1">
  <div class="column is-half has-text-right">
    <i class="fa-solid fa-circle-info has-text-grey-light"></i>
    <span class="has-text-grey-light pl-1">技术支持</span>
  </div>
  <div class="column is-half pl-0 has-text-grey-light">
    <p><%= t('site_name') %></p>
  </div>
</div>
