<div class="columns is-vcentered is-flex">
  <div class="column is-half has-text-right">
    <i class="fa-solid fa-square-info has-text-grey-light"></i>
    <span class="has-text-grey-light pl-1"><%= t('powered_by') %></span>
  </div>
  <div class="column is-half pl-0 has-text-grey-light">
    <p><%= t('site_name') %></p>
  </div>
</div>
