<table class="table is-fullwidth is-striped as-show">
  <thead>
    <tr>
      <th></th>
      <th>
        <%= button_to t('.edit.title'), { action: 'edit' }, class: 'button is-small is-link' %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th></th>
      <td><%= model.id %></td>
    </tr>
    <%= render 'show_table' %>
  </tbody>
</table>
