<div class="ui modal" id="modal">
  <i class="fas fa-times close icon"></i>
  <div class="ui header blue">
    <%= t('.show') %>
  </div>

  <div class="content">
    <%= render 'show_table' %>
  </div>
</div>
