<div class="level">
  <div class="level-left"></div>
  <div class="level-right">
    <%= link_to t('.edit.title'), { action: 'edit' }, class: 'button is-small is-link' %>
  </div>
</div>

<div class="box">
  <dl class="as-show">
    <%= render 'show_table' %>
  </dl>
</div>