<table class="table is-fullwidth is-hoverable as-show">
  <thead>
    <tr>
      <th></th>
      <th class="has-text-right">
        <button class="button is-small" data-controller="weui-actionsheet" data-weui-actionsheet-id-value="actionsheet" data-action="weui-actionsheet#toggle">
          <i class="fas fa-ellipsis-h"></i>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render 'show_table' %>
  </tbody>
</table>
<%= render 'actionsheet' %>
