<table class="table is-fullwidth is-hoverable is-borderless is-striped as-show">
  <thead>
    <tr>
      <%= render 'show_head' %>
    </tr>
  </thead>
  <tbody>
    <%= render 'show_table' %>
  </tbody>
</table>
