<%= render layout: 'modal' do %>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>
          <%= link_to t('.edit'), { action: 'edit' }, remote: true, class: 'button is-small is-link' %>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render 'show_table' %>
    </tbody>
  </table>
<% end %>
