<% if params[:action] != 'index' %>
<div class="box as-bar">
  <%= link_to({ action: 'index' }, class: 'px-4') do %>
    <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
  <% end %>
  <div class="weui-title"><%= t('.title', default: '') %></div>
  <% if params[:action] == 'show' %>
    <%= button_to({ action: 'actions' }, class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-ellipsis-h"></i>
    <% end %>
  <% else %>
    <i class="px-5"></i>
  <% end %>
</div>
<% end %>