<% if params[:action] != 'index' || (params[:action] == 'index' && params[:return_state].present?) %>
<div data-controller="mini-program" data-mini-program-pt-class="pt-0" class="box as-bar">
  <%= link_to({ action: 'index' }, state: 'return', class: 'px-4') do %>
    <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
  <% end %>
  <div class="weui-title"><%= t('.title', default: '') %></div>
  <i class="px-4"></i>
</div>
<% end %>
