<% if defined?(url) %>
  <div data-controller="visit" data-visit-url-value="<%= url %>" data-visit-state-value="<%= params[:return_state] %>"></div>
<% else %>
  <div data-controller="visit" data-visit-state-value="<%= params[:return_state] %>"></div>
<% end %>
