<% if params[:return_url] %>
  <div data-controller="visit" data-visit-url-value="<%= Base64.urlsafe_decode64(params[:return_url]) %>"></div>
<% elsif defined?(url) %>
  <div data-controller="visit" data-visit-url-value="<%= url %>"></div>
<% else %>
  <div data-controller="visit"></div>
<% end %>
