<% if params[:return_state] %>
  <div data-controller="visit" data-visit-url-value="<%= url_for(StateUtil.urlsafe_decode64(params[:return_state])) %>"></div>
<% elsif defined?(url) %>
  <div data-controller="visit" data-visit-url-value="<%= url %>"></div>
<% else %>
  <div data-controller="visit"></div>
<% end %>
