<div data-controller="weui-dialog" class="weui-dialog__wrap weui-dialog__wrap_show" id="<%= defined?(dialog_id) ? dialog_id : 'dialog' %>">
  <div class="weui-mask" data-action="click->weui-dialog#close"></div>
  <div class="weui-half-screen-dialog weui-half-screen-dialog_large weui-half-screen-dialog_show" data-weui-dialog-target="dialog">
    <div class="weui-half-screen-dialog__hd">
      <div class="weui-half-screen-dialog__hd__side"></div>
      <div class="weui-half-screen-dialog__hd__main">
        <div class="weui-half-screen-dialog__title"><%= t('.title') %></div>
      </div>
      <div class="weui-half-screen-dialog__hd__side">
        <button class="weui-icon-btn" data-action="weui-dialog#close">
          <i class="weui-icon-close-thin"></i>
        </button>
      </div>
    </div>
    <div class="weui-half-screen-dialog__bd">
      <%= yield %>
    </div>
    <div class="weui-half-screen-dialog__ft"></div>
  </div>
</div>
