<%= turbo_stream.update request.headers['turbo-frame'].presence || 'alert' do %>
  <div class="notification is-danger is-radiusless" data-controller="notice">
    <button class="delete" data-action="notice#close"></button>
    <ul class="list">
      <li><%= message %></li>
    </ul>
  </div>
<% end %>
