<% if rails_role_user.is_a?(Org::Member) %>
  <div data-controller="visit" data-visit-url-value="<%= url_for(controller: '/admin/home') %>"></div>
<% else %>
  <div data-controller="visit" data-visit-url-value="<%= url_for(controller: '/my/home') %>"></div>
<% end %>
