<%= render 'show_head' %>

<div class="box m-3">
  <table class="table is-fullwidth is-hoverable is-borderless is-striped as-show">
    <tbody>
      <%= render 'show_table' %>
    </tbody>
  </table>
</div>
