<dl class="as-show as-boxed">
  <%= render 'show_table' %>
</dl>

<%= form_with url: { action: 'update' }, method: :patch, class: 'form-bottom display-none' do |f| %>
  <div id="bottom-field" class="field"></div>
  <%= f.submit %>
<% end %>