<%= render 'show_head' %>

<div class="weui-panel is-box">
  <div class="weui-panel">
    <table class="table is-fullwidth is-hoverable is-borderless is-striped as-show">
      <tbody>
        <%= render 'show_table' %>
      </tbody>
    </table>
  </div>
</div>
