<div>
  <%= link_to t('.edit.title'), { action: 'edit' }, class: 'button is-small is-link' %>
</div>

<div class="fixed-grid has-3-cols as-boxed">
  <dl class="grid as-show">
    <div>
      <dt></dt>
      <dd><%= model.id %></dd>
    </div>
    <%= render 'show_table' %>
  </dl>
</div>
