<tr id="<%= meta_business.tr_id %>" data-controller="tree-remote show" data-tree-remote-target="item" data-action="mouseenter->show#show mouseleave->show#hide">
  <td>
    <%= button_to({ action: 'meta_namespaces', business_identifier: meta_business.identifier }, data: { turbo_frame: 'visit' }) do %>
      <i class="fa-solid fa-fw fa-caret-right" style="cursor: pointer" data-action="click->tree-remote#expand"></i>
    <% end %>
    <span><%= meta_business.name %></span>
    <span class="color-grey">(<%= meta_business.identifier %>)</span>
  </td>
  <td></td>
</tr>
