<div class="menu-brand">
  <%= link_to({ controller: '/home' }) do %>
    <%= image_tag 'logo.png', class: 'image' %>
  <% end %>
  <%= link_to t('panel.home.index.title'), { controller: '/panel/home' }, class: 'has-text-centered' %>
</div>
