<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('panel.home.index.title'), { controller: '/panel/home' } %></li>
    <li><span class="px-3"><%= t("#{params[:business]}.panel.title") %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
