<div class="<%= active_helper(modules: 'jia_bo/panel', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do %>
    <%= link_to t('jia_bo.panel.apps.index.title'), { controller: 'jia_bo/panel/apps' }, class: active_helper(controllers: 'apps', active: 'is-active') -%>
  <% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-print fa-fw"></i>
    <span><%= t('jia_bo.panel.title') %></span>
    <i class="fa-solid dropdown"></i>
  </a>
</div>
