<div data-controller="menu empty" class="menu ex-accordion is-active">
  <div class="menu-label">
    <div>
      <i class="fa-solid fa-fw fa-clone"></i>
      <span><%= t('solid_queue.panel.title') %></span>
    </div>
  </div>
  <div class="menu-list" data-empty-target="content">
    <%= link_to t('solid_queue.panel.jobs.index.title'), { controller: 'solid_queue/panel/jobs' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'jobs', active: 'is-active') %>
  </div>
</div>
