<div class="<%= active_helper(modules: 'job/panel', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu empty">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-send-backward fa-fw"></i>
    <span><%= t('job.panel.title') %></span>
    <i class="fa-solid dropdown"></i>
  </a>
  <div class="menu-list" data-empty-target="content">
    <%= link_to t('job.panel.processes.index.title'), { controller: 'job/panel/processes' }, class: active_helper(controllers: 'processes', active: 'is-active') %>
    <%= link_to t('job.panel.jobs.index.title'), { controller: 'job/panel/jobs' }, class: active_helper(controllers: 'jobs', active: 'is-active') %>
  </div>
</div>
