<%= link_to({ controller: '/panel/home' }, class: active_helper(modules: 'panel', item: 'navbar-item', active: 'is-active navbar-item')) do %>
  <span><%= t('panel.home.index.title') %></span>
<% end %>
