<div class="menu ex-accordion is-active">
  <div class="menu-label">
    <div>
      <i class="fa-solid fa-fw fa-user-secret"></i>
      <span><%= t('roled.panel.title') %></span>
    </div>
  </div>
  <div class="menu-list">
    <%= link_to t('roled.panel.roles.index.title'), { controller: 'roled/panel/roles' }, class: active_helper(controllers: 'roles', active: 'is-active') -%>
  </div>
</div>
