<div class="menu-list">
  <div class="py-2 px-3">
    <i class="fa-solid fa-fw fa-user-secret"></i>
    <strong><%= t('roled.panel.title') %></strong>
  </div>
  <div class="pl-4">
    <%= link_to t('roled.panel.roles.index.title'), { controller: 'roled/panel/roles' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'roles', item: 'menu-item', active: 'menu-item is-active') %>
  </div>
</div>
