<div class="<%= active_helper(modules: 'roled/panel', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do %>
    <%= link_to t('roled.panel.roles.index.title'), { controller: 'roled/panel/roles' }, class: active_helper(controllers: 'roles', active: 'is-active') -%>
  <% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-user-secret fa-fw"></i>
    <span><%= t('roled.panel.title') %></span>
    <i class="fa-solid fa-fw dropdown"></i>
  </a>
</div>
