require 'test_helper'
<% module_namespacing do -%>
class <%= controller_class_name %>ControllerTest < ActionDispatch::IntegrationTest
  <%- if mountable_engine? -%>
  include Engine.routes.url_helpers

  <%- end -%>

  setup do
    @<%= singular_table_name %> = create <%= fixture_name %>
  end

  test 'index ok' do
    get <%= index_helper %>_url
    assert_response :success
  end

  test 'new ok' do
    get <%= new_helper %>
    assert_response :success
  end

  test 'create ok' do
    assert_difference('<%= class_name %>.count') do
      post <%= index_helper %>_url, params: { <%= '#{singular_table_name}: { #{attributes_string} }' %> }
    end

    assert_response :success
  end

  test 'show ok' do
    get <%= show_helper %>
    assert_response :success
  end

  test 'edit ok' do
    get <%= edit_helper %>
    assert_response :success
  end

  test 'update ok' do
    patch <%= show_helper %>, params: { <%= '#{singular_table_name}: { #{attributes_string} }' %> }
    assert_response :success
  end

  test 'destroy ok' do
    assert_difference('<%= class_name %>.count', -1) do
      delete <%= show_helper %>
    end

    assert_response :success
  end

end
<% end -%>
