<th><%= Statis::CounterDay.human_attribute_name(:month) %></th>
<th><%= Statis::CounterDay.human_attribute_name(:count) %></th>
<th>
  <p><%= Statis::CounterDay.human_attribute_name(:created_at) %></p>
  <p><%= Statis::CounterDay.human_attribute_name(:updated_at) %></p>
</th>
