<div class="menu-label">私有部署</div>
<div class="menu-list">
  <%= link_to t('com.my.ssh_keys.index.title'), { controller: 'com/my/ssh_keys' }, class: active_helper(controller: 'com/my/ssh_keys', action: 'index', active: 'is-active') %>
</div>
