<div class="menu">
  <div class="menu-list">
    <%= link_to t('my.home.index.title'), { controller: '/my/home' }, class: active_helper(controllers: 'home', active: 'is-active') %>
  </div>
</div>
<%= render 'trade_nav' if defined? RailsTrade %>
<%= render 'profile_nav' if defined? RailsProfile %>
