<div data-controller="mini-program" data-mini-program-pt-class="pt-0" class="box as-bar">
  <% if (params[:action] == 'index' && params[:controller] != 'my/home') || referer_controller == 'my/home' %>
    <%= link_to({ controller: '/my/home' }, class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end %>
  <% elsif params[:action] != 'index' %>
    <%= link_to({ action: 'index' }, class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end %>
  <% end %>
  <div class="weui-title"><%= t('.title', default: '') %></div>
  <% if params[:action] == 'show' %>
    <%= button_to({ action: 'actions' }, class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-ellipsis-h"></i>
    <% end %>
  <% else %>
    <i class="px-5"></i>
  <% end %>
</div>
