<tr id="tr_<%= model.name %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= button_to({ action: 'index_edit', id: @meta_model.id, old_name: model.name }, aria: { label: t('.index_edit.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-pencil text-link"></i>
      <% end %>
    </div>
  </td>
</tr>
