<%= render layout: 'layouts/phone_head' do %>
  <div class="weui-tab">
    <div class="weui-tab__panel">
      <%= yield %>
    </div>
    <%= render 'tab_bar' %>
  </div>
  <%= render 'actionsheet' %>
<% end %>
