<%= render layout: 'layouts/phone_head' do %>
  <body>
    <div class="weui-tab">
      <div class="weui-tab__panel" style="margin-bottom: 100px">
        <%= render 'alert' %>
        <%= yield %>
      </div>
      <%= render 'tab_bar' %>
    </div>
  </body>
<% end %>
