<%= render layout: 'layouts/phone_head' do %>
  <body>
    <div class="weui-tab">
      <div class="weui-tab__panel">
        <%= yield %>
      </div>
      <%= render 'tab_bar' %>
    </div>
    <div id="modal"></div>
  </body>
<% end %>
