<%= render layout: 'layouts/application_head' do %>
  <%= render 'nav_bar' %>
  <div id="alert"></div>
  <main class="columns is-fluid is-centered">
    <div class="column container is-full">
      <%= render 'breadcrumb' %>
      <%= yield %>
    </div>
  </main>
<% end %>
