<%= render layout: 'layouts/phone_head' do %>
  <body>
    <div class="weui-tab">
      <div class="weui-tab__panel">
        <%= yield %>
      </div>
      <% if current_session_organ %>
        <%= render 'org_tab_bar' %>
      <% else %>
        <%= render 'tab_bar' %>
      <% end %>
    </div>
    <div id="modal"></div>
  </body>
<% end %>
