<th>
  <p><%= Com::StatisticConfig.human_attribute_name(:statistical_type) %></p>
  <p><%= Com::StatisticConfig.human_attribute_name(:statistical_id) %></p>
</th>
<th><%= Com::StatisticConfig.human_attribute_name(:begin_on) %></th>
<th><%= Com::StatisticConfig.human_attribute_name(:end_on) %></th>
<th></th>